@inject INavMenuViewModel NavMenuViewModel
@using SWEN2TourPlanner.Frontend.ViewModels.Interfaces
<div class="float navmenu">
    <span class="navicon"></span>
    @if (NavMenuViewModel.GetCurrentTour() is not null) {
        <p>@NavMenuViewModel.GetCurrentTour()</p>
    }
    @if (NavMenuViewModel.GetCurrentTourLog() is not null) {
        <p>@NavMenuViewModel.GetCurrentTourLog()</p>
    }
</div>
