@inject INavMenuViewModel ViewModel
@using SWEN2TourPlanner.Frontend.ViewModels.Interfaces
<div class="float nav-container">
    <div class="navbar-item" style="padding: 0;" @onclick="() => ViewModel.ToggleDetailsCommand.Execute(null)">
        <span class="navicon @(ViewModel.IsMenuExpanded ? "toggle" : "")"></span>
    </div>
    @if (ViewModel.CurrentTour is not null) {
        <div class="navbar-item"><p>@ViewModel.CurrentTour</p></div>
    }
    @if (ViewModel.CurrentTourLog is not null) {
        <div class="navbar-item"><p>@ViewModel.CurrentTourLog</p></div>
    }
</div>
