@inject INavMenuViewModel NavMenuViewModel
@using SWEN2TourPlanner.Frontend.ViewModels.Interfaces
<div class="float nav-container">
    <div class="navicon navbar-item"></div>
    @if (NavMenuViewModel.GetCurrentTour() is not null) {
        <div class="navbar-item"><p>@NavMenuViewModel.GetCurrentTour()</p></div>
    }
    @if (NavMenuViewModel.GetCurrentTourLog() is not null) {
        <div class="navbar-item"><p>@NavMenuViewModel.GetCurrentTourLog()</p></div>
    }
</div>
