@using SWEN2TourPlanner.Frontend.ViewModels.Interfaces
@inherits Blazing.Mvvm.Components.MvvmOwningComponentBase<INavMenuViewModel>

<div class="float nav-container">
    <div class="navbar-item" style="padding: 0;" @onclick="() => @ViewModel.ToggleDetailsCommand.Execute(null)">
        <span class="navicon @(@ViewModel.IsMenuExpanded ? "toggle" : "")"></span>
    </div>
    <div class="navbar-item" @onclick='() => ViewModel.RootClicked()'><p>My Tours</p></div>
    @if (State >= UiState.Tour) {
        <div class="navbar-item" @onclick='() => ViewModel.TourClicked()'><p>@ViewModel.CurrentTour</p></div>
    }
    @if (State >= UiState.TourLog) {
        <div class="navbar-item"><p>@ViewModel.CurrentTourLog</p></div>
    }
</div>

@code {
    [Parameter] public UiState State { get; set; }

    public enum UiState {
        List,
        Tour,
        TourLog
    }
}
